:root {
    /* CSS HEX */
    --background_warm: #fffcf5;
    --warm_grey: #fffdfa;
    --text_dark: #73706a;
    --text_warm: #545048;
    --text_light: #a8a296;

}


#bcontainer {
    background-color: var(--warm_grey) !important;
}

.bg-custom{
    background-color: var(--warm_grey);
}

#header{
    font-size:100px;
    font-family: "Niagara Engraved", serif;
    font-weight: bold;
    letter-spacing: 5px;
}




#footer{
    height: 80px;
    padding-top: 10px;
    padding-left:10px;
    font-family: "Candara", sans-serif;

}


#welcome{
    font-size:30px;
    font-family:"Candara", sans-serif;
    /*font-weight:bold;*/
}


#links{
    font-size:50px;
    font-family:"Candara",  sans-serif;
    font-weight: bold;
    align-content: center;
}

#link1,#link2,#link3 {
    font-size:30px;
    font-family:"Candara", sans-serif;
    font-weight: bold;
    align-content:center;
}


#about_header{
    font-size:75px;
    font-family: "Niagara Engraved", serif;
    font-weight: bold;
}

#sunny_alpacas, #alpaca_face, #3_alpacas {
    object-fit: cover;
}

#emma{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#info_header{
    font-size:50px;
    font-family: "Candara", sans-serif;
    font-weight:bold;

}

#info{
    font-size: 20px;
    font-family: "rockwell", serif;
}

#gallery_header{
    font-size:75px;
    font-family: "Niagara Engraved", serif;
    font-weight: bold;
}

#news_header{
    font-size:75px;
    font-family: "Niagara Engraved", serif;
    font-weight: bold;
}

#card{
    padding-left:40px;
    padding-right: 40px;
    justify-content: center;

}

#card_1, #card_2, #card_3{
    font-family: "Candara", sans-serif;
    height: 15rem;
    background-color: #F4F1EF;

}


