:root {
    /* CSS HEX */
    --background_warm: #fffcf5;
    --warm_grey: #fffdfa;
    --text_dark: #73706a;
    --text_warm: #545048;
    --text_light: #a8a296;
    --image_increase: 1.025;

}

body {
    overflow-x:hidden;
}

#bcontainer {
    background-color: var(--warm_grey) !important;
}

.bg-custom{
    background-color: var(--warm_grey);
}


#footer{
    height: 80px;
    padding-top: 10px;
    padding-left:10px;
    font-family: "Rockwell", sans-serif;
}


#welcome{
    font-size:30px;
    font-family:"Rockwell", sans-serif;
    /*font-weight:bold;*/
}

#our_gallery, #our_newsletter, #about_us {
    font-size:50px;
    font-family:"Rockwell",  sans-serif;
    /*font-weight: bold;*/
    /*align-content: center;*/
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}

