#factNameList{
    height: 40rem;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.fact-btn{
    width: 80%;
}


#AlpacaFacts {
    font-weight:bold;
    font-family: "Candara", sans-serif;
}