
#contact_header{
    font-size:75px;
    font-family: "Niagara Engraved", serif;
    font-weight: bold;
    letter-spacing: 5px;
}

#visits {
    font-family: "Rockwell", sans-serif;
}

.card-body{
    background-color: #ECF1F6;
    font-family: "Rockwell", serif;
}

.form-group{
    font-family: "Rockwell", serif;
}

#map-div {
    max-height: 175px;
    max-width: 300px;
    margin: 0 auto;
    overflow: hidden;
}
