
#contact_header{
    font-size:75px;
    font-family: "Niagara Engraved", serif;
    font-weight: bold;
    letter-spacing: 5px;
}

#visits {

    font-family: "Candara", sans-serif;
}

.card-body{
    background-color: #ECF1F6;
    font-family: Candara, serif;
}

.form-group{
    font-family: Candara, serif;
}