#header{
    font-size:100px;
    font-family: "Niagara Engraved", serif;
    font-weight: bold;
    letter-spacing: 7px;
    color: #424242;
}

#established{
    font-size:30px;
    font-family: "Niagara Engraved", serif;
    font-weight: bold;
    letter-spacing: 3px;
    color: #454545;

}

#location{
    font-size:20px;
    font-family: "", serif;
    font-weight: bold;
    color: #454545;

}

#info{
    font-size:30px;
    font-family: "Candara", serif;
    font-weight: bold;
    color: #454545;
}

.brmedium {
    display: block;
    margin-bottom: 1em;
    color: #454545;
}

.brlarge {
    display: block;
    margin-bottom: 2em;
}

.hrmedium {
    margin:0;
    line-height:0;
}

.overlay {
    color:#fff;
    position:absolute;
    z-index:30;
    top:50%;
    left:0;
    width:100%;
    text-align:center;
    font-size:300px;
    font-family: "Niagara Engraved", serif;
    font-weight: bold;
    letter-spacing: 7px;

}

.scroll_container{
    text-align: center;
    size: 25px;
}
