#header{
    font-size:100px;
    font-family: "Niagara Engraved", serif;
    font-weight: bold;
    letter-spacing: 7px;
    color: #424242;
}

#established{
    font-size:30px;
    font-family: "Niagara Engraved", serif;
    font-weight: bold;
    letter-spacing: 3px;
    color: #454545;

}

#location{
    font-size:20px;
    font-family: "", serif;
    font-weight: bold;
    color: #454545;

}


.brmedium {
    display: block;
    margin-bottom: 1em;
    color: #454545;
}

.brlarge {
    display: block;
    margin-bottom: 2em;
}

.hrmedium {
    margin:0;
    line-height:0;
}

.overlay h1 {
    color:white;
    position:absolute;
    z-index:30;
    top:55%;
    left:0;
    width:100%;
    text-align:center;
    font-size:100px;
    font-family: "Niagara Engraved", serif;
    font-weight: bold;
    letter-spacing: 7px;

}

.bi-arrow-down {
    align-content: center;

}

#content-wrapper{
    font-size:30px;
    font-family: "Candara", serif;
    font-weight: bold;
    color: #454545;

}

.bounce {
    position:fixed;
    left:50%;
    bottom:0;
    margin-top:-25px;
    margin-left:-25px;
    height:50px;
    width:50px;

    -webkit-animation:bounce 2s infinite;
    -moz-animation:bounce 2s infinite;
    -o-animation:bounce 2s infinite;
    animation:bounce 2s infinite;

}

@-webkit-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30px;}
}

@-moz-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30px;}
}

@-o-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30px;}
}

@keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30px;}
}