#header{
    font-size:100px;
    font-family: "Niagara Engraved", serif;
    font-weight: bold;
    letter-spacing: 7px;
    color: #424242;
}

#established{
    font-size:30px;
    font-family: "Niagara Engraved", serif;
    font-weight: bold;
    letter-spacing: 3px;
    color: #454545;

}

#location{
    font-size:20px;
    font-family: "", serif;
    font-weight: bold;
    color: #454545;

}


.brmedium {
    display: block;
    margin-bottom: 1em;
    color: #454545;
}

.brlarge {
    display: block;
    margin-bottom: 2em;
}

.hrmedium {
    margin:0;
    line-height:0;
}

.overlay{
    position: relative;
}

.overlay h1 {
    color:white;
    position:absolute;
    z-index:30;
    top:55%;
    left:0;
    width:100%;
    text-align:center;
    font-size:100px;
    font-family: "Niagara Engraved", serif;
    font-weight: bold;
    letter-spacing: 7px;
}
@media only screen and (max-device-width: 768px) {
    .overlay h1{
        top:0!important;
        font-size: 50px!important;
    }
    .carousel-caption{
        display: none;
    }
}

@media only screen and (max-device-width: 768px) {
    .overlay h1{
        top:0!important;
        font-size: 50px!important;
    }
    .carousel-caption{
        display: none;
    }
}

@media (max-width: 768px) {
    .overlay h1{
        top:0!important;
        font-size: 50px!important;
    }
    .carousel-caption{
        display: none;
    }
}


.bi-arrow-down {
    align-content: center;

}

#content-wrapper{
    font-size:30px;
    font-family: "Rockwell", serif;
    font-weight: bold;
    color: #454545;

}


.bounce {
    position: absolute;
    bottom:0;
    margin-left:-50%;
    height:100%;
    width:100%;

    -webkit-animation:bounce 2s infinite;
    -moz-animation:bounce 2s infinite;
    -o-animation:bounce 2s infinite;
    animation:bounce 2s infinite;

}

@-webkit-keyframes bounce {
    0%      {bottom:-25px;}
    95%     {bottom:0;}
    100%    {bottom:-25px;}
}

@-moz-keyframes bounce {
    0%      {bottom:-25px;}
    95%     {bottom:0;}
    100%    {bottom:-25px;}
}

@-o-keyframes bounce {
    0%      {bottom:-25px;}
    95%     {bottom:0;}
    100%    {bottom:-25px;}
}

@keyframes bounce {
    0%      {bottom:-25px;}
    95%     {bottom:0;}
    100%    {bottom:-25px;}
}

#content-wrapper{
    font-size:30px;
    font-family: "Rockwell", serif;
    font-weight: bold;
    color: #454545;
}

@media (max-width: 992px) {
    .home-padding {
        padding: 0;
    }
    .home_picture {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}



#contact{
    font-family: 'Rockwell',serif ;
}
