:root{
    --navBack: #faf7f5;
}

.navbar-custom {
    background-color: var(--navBack);
}

nav:before {
    content: "";
    position: absolute;
    left: -100%;
    bottom: 0;
    top: 0;
    right: 100%;
    background-color: var(--navBack);
}

nav:after {
    content: "";
    position: absolute;
    left: 100%;
    bottom: 0;
    top: 0;
    right: -100%;
    background-color: var(--navBack);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: var(--text_dark);
}


/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: var(--text_warm);
}
/* change the color of active or hovered links */
.navbar-custom .navbar-nav .active{
    color: var(--text_light) !important;
}


/* Define the shape and color of the hamburger lines */
.navbar-toggler span {
    display: block;
    background-color: var(--text_warm);
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.2s ease-out;
    transform-origin: center left;
}


/* top line needs a little padding */
.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}

/**
 * Animate collapse into X.
 */

/* top line rotates 45 degrees clockwise and moves up and in a bit to close the center of the X in the center of the button */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}
/* center line goes transparent */
.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}
/* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */
.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg) ;
}


/**
 * Animate collapse open into hamburger menu
 */

/* top line moves back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg) ;
}
/* middle line goes back to regular color and opacity */
.navbar-toggler span:nth-child(2) {
    opacity: 1;
}
/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg) ;
}

#navbarNavAltMarkup{
    font-family: "Candara", sans-serif;
}

#nav_head{
    font-family: "Candara", sans-serif;

    /*font-weight: bold;*/
}





